<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <title><%=listTitle %></title> 
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
    </head>
<body>  
     <%- include("header") %>
        <div class="box" id="heading">
            <h1>TO DO LIST</h1>
            <link rel="stylesheet" href="/css/styles.css">
        </div>
        <!-- <form action="/list" method="post"> -->
        <div class="mainlist">
        <div class="box">
               <% newListItems.forEach(function(item){ %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>"" onChange="this.form.submit()">
                        <p> <%= item.name %> </p>
                    </div>
                    <!-- // in order to delete the element from respective browsers -->
                        <input type="hidden" name="ListName" value="<%= listTitle %>"></input>
                </form>
            <%})%>
                <form class="item" action="/list" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button class="addbtn" type="submit" name="list" value=<%= listTitle %>>ADD</button>
                </form>
        </div>
        <form action="/newpage" method="post">
        <div class="box_games">
        <!-- <form action="/games" method="post"> -->
            <div class="newContainer">
                <p class="text_games1">BORED & TIRED UP OF COMPLETING TO DO LIST 😫</p>
                <p class="text_games2">LET's FRESHEN UP YOURSELF!😊 </p>
                <button class="gamebtn" type="submit" name="game" value="A">Play</button>
            </div>
            <!-- </form> -->
        </div>
        <div class="box_notes">
            <!-- <form action="/notes" method="post"> -->
                <div class="notesContainer">
                    <p class="text_note1">TIRED OF PLACING YOUR NOTES IT AT DIFFERENT LOCATION😫</p>
                    <p class="text_note2">DON'T WORRY ADD IT HERE!😊</p>
                    <button class="notebtn" type="submit" name="game" value="B">ADD NOTE</button>
                </div>
            </form>
        </div>
        <!-- </form> -->
    </div>
    <%- include("footer") %>
    <!-- </form> -->
    </body>
</html>
        
